body{
	background:#002820;
}
.img-responsive{
	width:600px;
	color:white;
}
header{
	background:#006853;
}

.jumbotron h1 img{
	margin:auto;
}
.login{
	margin:0 20%;
}
.jumbotron{
	background:white url(../img/fondo.jpg) center no-repeat;
}
.lol {
    list-style:none;
    background:none;
}

.list-group-item-danger {
    list-style:none;
}
@media screen and (max-width: 380px) {
   .login{
	margin:0;
}
    .input-logo {
        display:none;
    }
    .input-type {
    width:100%;
    }
}

.forma{
    background: #A3F7B5;
}