body{
	background:#002820;
    min-width: 285px;
}
.img-responsive{
	width:600px;
	color:white;
}
header{
	background:#006853;
    min-height: 60px;
}

.jumbotron h1 img{
	margin:auto;
}
.login{
	margin:0 20%;
}
.jumbotron{
	background:white url(../img/fondo.jpg) center no-repeat;
    min-height: 460px;
    max-height: 650px;
    padding-top: 100px;
}
.lol {
    list-style:none;
    background:none;
}

.list-group-item-danger {
    list-style:none;
}

.forma{
    background: #A3F7B5;
}

@media screen and (max-width: 380px) {
   .login{
    margin:0;
}
    .input-logo {
        display:none;
    }
    .input-type {
    width:100%;
    }
      .jumbotron{
    min-height: 430px;
    max-height: 520px;
    padding-top: 50px;
}
  
}